


<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
 <!--<![endif]-->


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BootStrap HTML5 CSS3 Theme</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    @Styles.Render("~/Content/Theme/FreelancerTheme/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body class="wt-login">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Preloader Start -->
    <div class="preloader-outer">
        <div class="loader"></div>
    </div>
    <!-- Preloader End -->
    <!-- Wrapper Start -->
    <div id="wt-wrapper" class="wt-wrapper wt-haslayout">
        <!-- Content Wrapper Start -->
        <div class="wt-contentwrapper">
            @Html.Partial("_PartialHeader")
                @RenderBody()
            @Html.Partial("_PartialFooter")
        </div>
        <!--Content Wrapper End-->
    </div>
    <!--Wrapper End-->
  
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Content/Theme/FreelancerTheme/js")
</body>

</html>