@using Microsoft.AspNet.Identity
@model EZWork.WebUI.Models.PartialHeaderViewModel
@if (ViewBag.Message != null)
{
    <div class="col-12 ">
        <div class="wt-jobalerts">
            <div class="alert alert-primary alert-dismissible fade show">
                <span> @Html.Raw(ViewBag.Message)</span>
                @*<a href="javascript:void(0)" class="wt-alertbtn primary">View</a>*@
                <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-close" style="float:right"></i></a>
            </div>
        </div>
    </div>
}

<!-- Header Start -->
<header id="wt-header" class="wt-header wt-haslayout">
    <div class="wt-navigationarea">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <strong class="wt-logo"><a href="index-2.html"><img style="margin-top: -10%" src="~/Uploads/Photo/logo1.png" alt="company logo here" width="100"></a></strong>
                    <div class="wt-rightarea">
                        <nav id="wt-nav" class="wt-nav navbar-expand-lg">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="lnr lnr-menu"></i>
                            </button>
                            <div class="collapse navbar-collapse wt-navigation" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="menu-item-has-children page_item_has_children">
                                        <a href="javascript:void(0);">View Freelancers</a>
                                        <ul class="sub-menu">
                                            <li>
                                                @Html.ActionLink("User Listing", "Index", "Seller", null, null)
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        @if (Model != null && Model.EZAccount != null && Model.EZUser != null && Request.IsAuthenticated)
                        {
                            //var claims = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims;
                            //var claim = claims.SingleOrDefault(m => m.Type == "FullName");
                            <div class="wt-userlogedin">
                                <figure class="wt-userimg">
                                    <img src="~/Uploads/Profile/@(Model.EZUser.ImageProfile!=null?Model.EZUser.ImageProfile:"default.jpg")">
                                    @*<img src="~/App_Themes/FreelancerTheme/images/user-img.jpg" alt="image description">*@
                                </figure>
                                <div class="wt-username">
                                    <h3>@User.Identity.Name</h3>
                                    <span>@Model.EZUser.FullName</span>
                                </div>
                                <nav class="wt-usernav">
                                    <ul>
                                        <li class="menu-item-has-children page_item_has_children">
                                            <a href="javascript:void(0);">
                                                <span>Insights</span>
                                            </a>
                                            <ul class="sub-menu children">
                                                <li><a href="dashboard-insights.html">Insights</a></li>
                                                <li><a href="dashboard-insightsuser.html">Insights User</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("BecomeSeller", "Seller")">Become a seller</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("UserProfile", "User")">My Profile</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("GetAllOrder", "Order")">See your payment</a>
                                        </li>
                                        <li>
                                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                            {
                                                @Html.AntiForgeryToken()

                                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                                    <span>Logout</span>
                                                </a>
                                            }
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        }
                        else
                        {
                            <nav id="wt-nav" class="wt-nav navbar-expand-lg">
                                <div class="collapse navbar-collapse wt-navigation" id="navbarNav">
                                    <ul class="navbar-nav">
                                        <li class="menu-item-has-children page_item_has_children">

                                            @Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                        </li>
                                        <li class="menu-item-has-children page_item_has_children">

                                        <li>
                                            @Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header End-->
