<section class="wt-haslayaout wt-main-section wt-footeraboutus">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="wt-widgetskills">
                    <div class="wt-fwidgettitle">
                        <h3>By Skills</h3>
                    </div>
                    <ul class="wt-fwidgetcontent">
                        <li><a href="@Url.Action("Index", "Seller")">Software Engineer</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">Technical Writer</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">UI Designer</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">UX Designer</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">Virtual Assistant</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">Web Designer</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">Wordpress Developer</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">Content Writer</a></li>
                        <li class="wt-viewmore"><a href="@Url.Action("Index", "Seller")">+ View All</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="wt-widgetskill">
                    <div class="wt-fwidgettitle">
                        <h3>Skills In US</h3>
                    </div>
                    <ul class="wt-fwidgetcontent">
                        <li><a href="@Url.Action("Index", "Seller")">HTML Developers in US</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">HTML5 Developers in US</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">JavaScript Developers in US</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">Microsoft Word Experts in US</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">PowerPoint Experts in US</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">Social Media Marketers in US</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">WordPress Developers in US</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">Writers in US</a></li>
                        <li class="wt-viewmore"><a href="@Url.Action("Index", "Seller")">+ View All</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="wt-footercol wt-widgetcategories">
                    <div class="wt-fwidgettitle">
                        <h3>By Categories</h3>
                    </div>
                    <ul class="wt-fwidgetcontent">
                        <li><a href="@Url.Action("Index", "Seller")">Graphics &amp; Design</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">Digital Marketing</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">Writing &amp; Translation</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">Video &amp; Animation</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">Music &amp; Audio</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">Programming &amp; Tech</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">Business</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">Fun &amp; Lifestyle</a></li>
                        <li class="wt-viewmore"><a href="@Url.Action("Index", "Seller")">+ View All</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="wt-widgetbylocation">
                    <div class="wt-fwidgettitle">
                        <h3>By Location</h3>
                    </div>
                    <ul class="wt-fwidgetcontent">
                        <li><a href="@Url.Action("Index", "Seller")">Switzerland</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">Canada</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">Germany</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">United Kingdom</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">Japan</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">Sweden</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">Australia</a></li>
                        <li><a href="@Url.Action("Index", "Seller")">United States</a></li>
                        <li class="wt-viewmore"><a href="@Url.Action("Index", "Seller")">+ View All</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
