
@if (Model != null && Model.EZAccounts!= null && Model.EZAccounts.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">LockoutEnabled</th>              
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EZAccounts)
            {
                <tr>
                    <th>@item.Id</th>                
                    <td>@item.Email</td>
                    @{ var lockOut = item.LockoutEnabled ? "Lock" : "UnLock";}
                    <td>@lockOut</td>
                    <td>
                        <button id="" data-href="@Url.Action("Detail","Account",new { ID=item.Id })" class="btn btn-primary createBtn" data-toggle="modal" data-target="#exampleModal">Detail</button>
                        <button id="" data-href="@Url.Action("DetailRole","Account",new { ID=item.Id })" class="btn btn-info createBtn" data-toggle="modal" data-target="#exampleModal">ActionRole</button>
                        <button id="" data-href="@Url.Action("LockUser","Account",new { ID=item.Id,status="lock" })" class="btn btn-danger lockBtn">Lock Account</button>
                        <button id="" data-href="@Url.Action("LockUser","Account",new { ID=item.Id ,status="unlock" })" class="btn btn-danger lockBtn">UnLock Account</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    if (Model.Pager.EndPage > 1)
    {
        <nav>
            <ul class="pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Account")">
                            <i class="fas fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Account", new { page = Model.Pager.CurrentPage - 1, searchTerm = Model.SearchTerm})">
                            <i class="fas fa-angle-left"></i>
                        </a>
                    </li>
                }

                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", "Account", new { page = page, searchTerm = Model.SearchTerm})">@page</a>
                    </li>
                }
                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Account", new { page = Model.Pager.CurrentPage + 1, searchTerm = Model.SearchTerm})">
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Account", new { page = Model.Pager.TotalPages, searchTerm = Model.SearchTerm})">
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    }
}
else
{
    <div class="alert alert-warning" role="alert">
        Sorry! No records exist.
    </div>
}



