@model EZWork.WebUI.Models.DetailSellerViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Inner Home Banner Start-->
<div class="wt-haslayout wt-innerbannerholder wt-innerbannerholdervtwo">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
            </div>
        </div>
    </div>
</div>
<!--Inner Home End-->
<!--Main Start-->
<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
    <!-- User Profile Start-->
    <div class="wt-main-section wt-paddingtopnull wt-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left">
                    <div class="wt-userprofileholder">
                        <span class="wt-featuredtag"><img src="~/Uploads/Photo/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 float-left">
                            <div class="row">
                                <div class="wt-userprofile">
                                    <figure>
                                        <img src="~/Uploads/Profile/@(Model.Seller.EZUser.ImageProfile != null?Model.Seller.EZUser.ImageProfile :"user-picture.png")">
                                        <div class="wt-userdropdown wt-online">
                                        </div>
                                    </figure>
                                    <div class="wt-title">
                                        <h3><i class="fa fa-check-circle"></i> @Model.Seller.EZUser.FullName</h3>
                                        <span>@Model.Seller.Rate/5 <a class="javascript:void(0);">(@Model.Seller.FeedBackCount Feedback)</a> <br>Member since @Model.Seller.CreateAt.Month, @Model.Seller.CreateAt.Day, @Model.Seller.CreateAt.Year <br><a href="javascript:void(0);">@Model.Seller.EZUser.FullName</a> <a href="javascript:void(0);" class="wt-reportuser">Report User</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-9 float-left">
                            <div class="row">
                                <div class="wt-proposalhead wt-userdetails">
                                    <h2>@Model.Seller.CareerTitle</h2>
                                    <ul class="wt-userlisting-breadcrumb wt-userlisting-breadcrumbvtwo">
                                        <li>VietNam</li>
                                        <li><a href="javascript:void(0);" class="wt-clicksave"><i class="fa fa-heart"></i> Save</a></li>
                                    </ul>
                                    <div class="wt-description">
                                        <p>@Model.Seller.Description</p>
                                    </div>
                                </div>
                                <div id="wt-statistics" class="wt-statistics wt-profilecounter">
                                    <div class="wt-statisticcontent wt-countercolor1">
                                        <h3 data-from="0" data-to="03" data-speed="800" data-refresh-interval="03">03</h3>
                                        <h4>Ongoing <br>Projects</h4>
                                    </div>
                                    <div class="wt-statisticcontent wt-countercolor2">
                                        <h3 data-from="0" data-to="1503" data-speed="8000" data-refresh-interval="100">1503</h3>
                                        <h4>Completed <br>Projects</h4>
                                    </div>
                                    <div class="wt-statisticcontent wt-countercolor4">
                                        <h3 data-from="0" data-to="02" data-speed="800" data-refresh-interval="02">02</h3>
                                        <h4>Cancelled <br>Projects</h4>
                                    </div>
                                    <div class="wt-statisticcontent wt-countercolor3">
                                        <h3 data-from="0" data-to="25" data-speed="8000" data-refresh-interval="100">25</h3>
                                        <em>k</em>
                                        <h4>Served <br>Hours</h4>
                                    </div>
                                    <div class="wt-description">
                                        <p>Hire</p>
                                        <a href="@Url.Action("CreateOrder","Order", new { sellerId = Model.Seller.SellerId})" class="wt-btn">Send Offer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- User Listing Start-->
        <div class="container">
            <div class="row">
                <div id="wt-twocolumns" class="wt-twocolumns wt-haslayout">
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-8 float-left">
                        <div class="">
                            @*Rating and comment here*@
                            <!-- User Listing Start-->
                            <div class="divComment">
                                <h2 class="text-center">Comment Form</h2>
                                <div class="container">
                                    <form id="commentForm">
                                        <div class="form-group">
                                            <label for="comment">Comment:</label>
                                            <input type="hidden" name="SellerID" value="@Model.Seller.SellerId" />
                                            <input type="hidden" name="Rate" id="ratingValue" />
                                            <span class="text-warning">
                                                <i class="ratingstar far fa-star" data-value="1"></i>
                                                <i class="ratingstar far fa-star" data-value="2"></i>
                                                <i class="ratingstar far fa-star" data-value="3"></i>
                                                <i class="ratingstar far fa-star" data-value="4"></i>
                                                <i class="ratingstar far fa-star" data-value="5"></i>
                                            </span>
                                            <textarea class="form-control" rows="3" id="comment" name="text" style="max-width:55%"></textarea>
                                        </div>
                                        <button type="button" class="btn btn-success btnComment">Comment</button>
                                    </form>
                                </div>
                                @foreach (var item in Model.Reviews)
                                {
                                    var defaultStar = 5 - item.Rate;
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" style="width:60px;height:60px" />
                                                    <p class="text-secondary text-center">@item.TimeStamp</p>
                                                </div>
                                                <div class="col-md-10">
                                                    <p>
                                                        @for (int i = 0; i < defaultStar; i++)
                                                        {
                                                            <span class="float-right"><i class="text-warning far fa-star"></i></span>
                                                        }
                                                        @for (int i = 0; i < item.Rate; i++)
                                                        {
                                                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                                        }

                                                    </p>
                                                    <div class="clearfix"></div>
                                                    <p>@item.Text</p>
                                                    <p>
                                                        <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
                                                        <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <!-- User Listing End-->
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 float-left">
                        <aside id="wt-sidebar" class="wt-sidebar">
                            <div id="wt-ourskill" class="wt-widget">
                                <div class="wt-widgettitle">
                                    <h2>My Skills</h2>
                                </div>
                                <div class="wt-widgetcontent wt-skillscontent">
                                    @foreach (var skill in Model.Seller.SellerMapSkills)
                                    {
                                        <div class="wt-skillholder" data-percent="@(skill.LevelId * 25)%">
                                            <span>@skill.Skill.Name<em>@skill.Level.Description</em></span>
                                            <div class="wt-skillbarholder"><div class="wt-skillbar"></div></div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="wt-widget">
                                <div class="wt-widgettitle">
                                    <h2>Similar Freelancers</h2>
                                </div>
                                <div class="wt-widgetcontent">
                                    <div class="wt-widgettag wt-widgettagvtwo">
                                        @foreach (var skill in Model.Seller.SellerMapSkills)
                                        {
                                            @Html.ActionLink(skill.Skill.Name, "Index")
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="wt-widget wt-sharejob">
                                <div class="wt-widgettitle">
                                    <h2>Share This User</h2>
                                </div>
                                <div class="wt-widgetcontent">
                                    <ul class="wt-socialiconssimple">
                                        <li class="wt-facebook"><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i>Share on Facebook</a></li>
                                        <li class="wt-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i>Share on Twitter</a></li>
                                        <li class="wt-linkedin"><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i>Share on Linkedin</a></li>
                                        <li class="wt-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i>Share on Google Plus</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="wt-widget wt-reportjob">
                                <div class="wt-widgettitle">
                                    <h2>Report This User</h2>
                                </div>
                                <div class="wt-widgetcontent">
                                    <form class="wt-formtheme wt-formreport">
                                        <fieldset>
                                            <div class="form-group">
                                                <span class="wt-select">
                                                    <select>
                                                        <option value="reason">Select Reason</option>
                                                        <option value="reason1">Reason1</option>
                                                        <option value="reason2">Reason2</option>
                                                        <option value="reason3">Reason3</option>
                                                        <option value="reason4">Reason4</option>
                                                    </select>
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" placeholder="Description"></textarea>
                                            </div>
                                            <div class="form-group wt-btnarea">
                                                <a href="javascrip:void(0);" class="wt-btn">Submit</a>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <!-- User Listing End-->
        <!-- User Profile End-->

    </div>
</main>
<!--Main End-->
<script>
    $('.ratingstar ').hover(function () {
        $('.ratingstar').addClass("far").removeClass("fas");
        $(this).addClass("fas").removeClass("far");
        $(this).prevAll(".ratingstar").addClass("fas").removeClass("far");
    })
    $('.ratingstar').click(function () {
        // debugger;
        var starValue = $(this).attr('data-value');
        $('#ratingValue').val(starValue);
    })
    $('.btnComment').click(function () {
        debugger;
        var starValue = $('#ratingValue').val();
        if (starValue !== '') {
            $.ajax({
                url: '@Url.Action("LeaveReview", "Review")',
                type: 'post',
                data: $('#commentForm').serialize(),
            }).done(function (response) {
                debugger;
                if (response.Success) {
                    addnewComment(response.newReview);
                } else {
                    alert(response.Message);
                }
            }).fail(function (response) {
                debugger;
               // alert(response.Message);
            })
        } else {
            alert('Please Vote rating before leave Comment');
        }
    })
    function addnewComment(newReview) {
        debugger;
        var defaultStar = 5 - newReview.Rate;
        var starHtml = '';
        for (var i = 0; i < defaultStar; i++)
        {
            starHtml += `<span class="float-right"><i class="text-warning far fa-star"></i></span>`;
        }
        for (var i = 0; i < newReview.Rate; i++)
        {
            starHtml += `<span class="float-right"><i class="text-warning fa fa-star"></i></span>`;
        } 
        var html =`<div class="card">
                      <div class="card-body">
                           <div class="row">
                               <div class="col-md-2">
                                      <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" style="width:60px;height:60px" />
                                                    <p class="text-secondary text-center">`+ newReview.TimeStamp+ `</p>
                                     </div>
                                                <div class="col-md-10">
                                                    <p>`+ starHtml +`
                                                    </p>
                                                    <div class="clearfix"></div>
                                                    <p>`+ newReview.Text+`</p>
                                                    <p>
                                                        <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
                                                        <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>`;
        debugger;
 $('.divComment').append(html);
    }
</script>

@*<div class="card card-inner ">
           <div class="card-body">
               <div class="row ">
                   <div class="col-md-2">
                       <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" width="80px" height="80px" />
                       <p class="text-secondary text-center">15 Minutes Ago</p>
                   </div>
                   <div class="col-md-10">
                       <p><a href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Maniruzzaman Akash</strong></a></p>
                       <p>Lorem Ipsum is simply dummyIpsumLorem Ipsum is simply dummyIpsumLorem Ipsum is simply dummyIpsumLorem Ipsum is simply dummyIpsumLorem Ipsum is simply dummyIpsumLorem Ipsum is simply dummyIpsum.</p>
                       <p>
                           <a class="float-right btn btn-outline-primary ml-2">  <i class="fa fa-reply"></i> Reply</a>
                           <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                       </p>
                   </div>
               </div>
           </div>
    </div>*@