@model EZWork.WebUI.Models.ListSellerViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
    <div class="wt-main-section wt-haslayout">
        <div class="wt-haslayout">
            <div class="container">
                <div class="row">
                    <div id="wt-twocolumns" class="wt-twocolumns wt-haslayout">
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 float-left">
                            <div class="wt-usersidebaricon">
                                <span class="fa fa-cog wt-usersidebardown">
                                    <i></i>
                                </span>
                            </div>
                            <aside id="wt-sidebar" class="wt-sidebar wt-usersidebar">
                                <div class="wt-widget wt-effectiveholder">
                                    <div class="wt-widgettitle">
                                        <h2>Search</h2>
                                    </div>
                                    <div class="wt-widgetcontent">
                                        @using (Html.BeginForm("Index", "Seller", FormMethod.Post, new { @class = "wt-formtheme wt-formsearch" }))
                                        {
                                            <fieldset>
                                                <div class="form-group">
                                                    <input type="text" name="searchTerm" class="form-control" placeholder="Search seller" value="@Model.SearchTerm">
                                                    <button type="submit" class="wt-searchgbtn">
                                                        <i class="lnr lnr-magnifier"></i>
                                                    </button>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="wt-checkboxholder wt-verticalscrollbar">
                                                    @foreach (var item in Model.ViewSkills)
                                                    {
                                                        <span class="wt-checkbox">
                                                            <input id="@item.Skill.SkillId" type="checkbox" name="Searchskills" value="@item.Skill.SkillId" checked="@item.IsChecked">
                                                            <label for="@item.Skill.SkillId">@item.Skill.Name</label>
                                                        </span><br />
                                                    }
                                                </div>
                                            </fieldset>
                                        }
                                    </div>
                                </div>
                            </aside>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-8 float-left">
                            <div class="wt-userlistingholder wt-userlisting wt-haslayout">
                                @Html.Partial("PartialSearchTopicResult", Model)
                                @if (Model != null && Model.ViewSellers != null && Model.ViewSellers.Count > 0)
                                {
                                    foreach (var item in Model.ViewSellers)
                                    {
                                        <div class="wt-userlistinghold wt-featured">
                                            <span class="wt-featuredtag"><img src="~/Uploads/Photo/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
                                            <figure class="wt-userlistingimg">
                                                <img src="~/Uploads/Profile/@(item.EZUser.ImageProfile != null?item.EZUser.ImageProfile :"user-picture.png")" alt="image description" width="200" height="200">
                                            </figure>
                                            <div class="wt-userlistingcontent">
                                                <div class="wt-contenthead">
                                                    <div class="wt-title">
                                                        <a href="usersingle.html">
                                                            <i class="fa fa-check-circle"></i>
                                                            @Html.ActionLink((item.EZUser.FullName!=null? "item.EZUser.FullName" : "Detail"), "Detail", new { id = item.SellerId })
                                                        </a>
                                                        @if (!String.IsNullOrEmpty(item.CareerTitle))
                                                        {
                                                            <h2>@item.CareerTitle</h2>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="wt-rightarea">
                                                    <span class="wt-starsvtwo">
                                                        @if (item.Rate == null)
                                                        {

                                                        }
                                                        else
                                                        {
                                                            for (int i = 1; i <= Math.Floor(item.Rate.Value); i++)
                                                            {
                                                                <i class="fa fa-star fill"></i>
                                                            }
                                                        }
                                                    </span>
                                                    <span class="wt-starcontent">@(item.Rate ?? 0)/<sub>5</sub> <em>(@item.FeedBackCount Feedback)</em></span>
                                                </div>
                                            </div>
                                            <div class="wt-description">
                                                <p>@item.ShortDescription ...</p>
                                            </div>
                                            <div class="wt-tag wt-widgettag">
                                                @if (item.SellerMapSkills.Count > 0)
                                                {
                                                    foreach (var skill in item.SellerMapSkills)
                                                    {
                                                        @Html.ActionLink(skill.Skill.Name, "Index", new { oneSkill = skill.SkillId })
                                                    }
                                                }
                                            </div>
                                        </div>
                                    }
                                    if (Model.Pager.EndPage > 1)
                                    {
                                        <nav>
                                            <ul class="pagination">
                                                @if (Model.Pager.CurrentPage > 1)
                                                {
                                                    <li class="page-item">
                                                        <a class="page-link" href="@Url.Action("Index", "Seller")">
                                                            <i class="fas fa-angle-double-left"></i>
                                                        </a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="@Url.Action("Index", "Seller", new { page = Model.Pager.CurrentPage - 1, searchTerm = Model.SearchTerm})">
                                                            <i class="fas fa-angle-left"></i>
                                                        </a>
                                                    </li>
                                                }

                                                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                                {
                                                    <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                                                        <a class="page-link" href="@Url.Action("Index", "Seller", new { page = page, searchTerm = Model.SearchTerm})">@page</a>
                                                    </li>
                                                }
                                                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                                {
                                                    <li class="page-item">
                                                        <a class="page-link" href="@Url.Action("Index", "Seller", new { page = Model.Pager.CurrentPage + 1, searchTerm = Model.SearchTerm})">
                                                            <i class="fas fa-angle-right"></i>
                                                        </a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="@Url.Action("Index", "Seller", new { page = Model.Pager.TotalPages, searchTerm = Model.SearchTerm})">
                                                            <i class="fas fa-angle-double-right"></i>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </nav>
                                    }
                                }
                                else
                                {
                                    <div class="alert alert-warning" role="alert">
                                        Sorry! No records exist.
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
