@model IEnumerable<EZWork.Core.Entities.EZUser>

@{
    ViewBag.Title = "Index";

}

<h2>View Profile</h2>
<p>
    @Html.ActionLink("Create profile", "CreateProfile")
    @Html.ActionLink("Update profile", "UpdateProfile")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageProfile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seller.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seller.Status)
        </th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Gender)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BirthDay)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ImageProfile)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhoneNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Seller.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Seller.Status)
    </td>

</tr>
    }

</table>